<% form_for req, :action => 'create', :id => 'user' do |f| -%>
  <label for="request_from">Откуда</label>
  <%= select(:request, :from, %w[Минск #di_by], { :index => req.from })%>  
  <label for="request_to">Куда</label>
  <%= select(:request, :to, %w[Минск #di_by], { :index => req.to })%>
  <br />

  <label for="request_name" class="line">Имя</label>  
  <input type="text" name="request[name]" id="request_name" value="<%= req.user.name unless req.user.nil? %>"/>
  <br/>
  
  <label for="request_phone_number"  class="line">Телефон</label>
  <input type="text" name="request[phone_number]" value="<%= req.user.phone_number unless req.user.nil? %>" id="request_phone_number" />
  <br/>
  
  <label for="request_date"  class="line">Дата</label>
  <input type="date" name="request[date]" id="request_date" value="<%= req.time.strftime('%Y-%m-%d') unless req.time.nil? %>"/>
  <br/>
  
  <label for="request_hours" class="line">Время</label>
  <%= select_hour(req.time, {}, {:id => 'request_hours', :name => 'request[hours]'}) %>ч
  <%= select_minute(req.time, {}, {:id => 'request_minutes', :name => 'request[minutes]'}) %> мин
  <br/>

  <label for="request_empty" class="line">Свободно мест</label>
  <input type="text" name="request[empty]" value="<%= req.places_number.to_i - req.busy.to_i %>" id="request_empty" size="2"/> из <input type="text" name="request[places_number]" value="<%= req.places_number %>" id="request_number" size="2"/>
  <br/><br/>
  
  <label for="request_description">Описание</label><br/>
  <textarea name="request[comment]" id="request_comment" rows="4" cols="29"><%= req.comment %></textarea>
  <p><input type="submit" value="Эх подвезу!"></p>
<% end %>