
<div class="container">
	<div class="header">
		<a href="/" class="logo left">Carpool</a>
	</div>
	<hr class="space">
  <a href="#" id="add_request" class="fancy add">Попутчиков мне!</a>
  <a href="#" id="cancel_request" class="fancy cancel hide">Я передумал!</a>
  <div class="form hide">
  <%= render :partial => "form"  %>
  </div>
  <table border="0" cellspacing="5" cellpadding="5" class="list">
    <tr>
      <th>Когда</th>
      <th>Откуда → Куда</th>
      <th>Места</th>
      <th>Имя</th>
      <th>Телефон</th>
    </tr>
    <% @requests.each do | request | -%>
    	<tr>
    		<td><%= request.time.to_s(:db) %></td>
    		<td><%= request.from + ' → ' + request.to %></td>
    		<td><%= request.places_number %>/2 <a class="get_place" href="/requests/<%= request.id %>/accept">занять</a></td>
    		<td><%= request.user.name %></td>
    		<td><%= request.user.phone_number %></td>
    	</tr>
    <% end -%>
  </table>
</div>